@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


:root {
  --background: #fef7f2;
  --back-secondary: #291510;
  --text: #1b150f;
  --muted-foreground: #7f7f85;
  --chart-0: #5c2a17;
  --chart-1: #000000;
  --chart-2: #5b210a;
  --foreground: #333235;
  --delete-icon: #ffffff;
  --delete-icon-muted: #9d6e6562;
  --destructive: #aa3c3c;
  --border: #281f1c;
  --primary: #544464;
  --secondary: #e8e8ec;
  --secondary-foreground: #403f43;
  --card: #ffffff;
  --input: #d1d5db;
  --input2: #47464b;
  --input3: #d3d3d7;
}

.dark {
  --background: #110907;
  --back-secondary: #291510;
  --foreground: #f2f2f5;
  --text: #f4ede8;
  --card: #180f0d;
  --primary: #c2bfcc;
  --secondary: #403f43;
  --secondary-foreground: #f2f2f5;
  --muted-foreground: #a6a6ab;
  --chart-0: #d8a080;
  --chart-1: #ffffff;
  --chart-2: #d58d63;
  --destructive: #b34848;
  --delete-icon: #ffffff;
  --delete-icon-muted: #f7e6e362;
  --border: #281f1c;
  --input: #d1d5db;
  --input2: #47464b;
  --input3: #d3d3d7;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  background: var(--desctructive);
  border: 1px solid var(--border);
  border-bottom-width: 1px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.dark .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  background: var(--desctructive);
  border-color: var(--border);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.clickable-item {
  cursor: pointer;
}

.footer {
  width: 100%;
  z-index: 10;
  background: var(--card);
  border-color: var(--border);
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  display: block;
}

.content-wrapper {
  box-sizing: border-box;
  min-height: 100vh;
}

.splash {
   background-image: url('assets/books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: 'absolute'; 
  top: 0;
  left: 0,
}
