@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Placeholder gris claro para el input de búsqueda de usuarios */
.placeholder-lightgray::placeholder {
  color: #d1d5db;
  opacity: 1;
}

:root {
  --radius: 0.625rem;
  --background: #fef7f2;
  --text: #1b150f;
  --foreground: #333235;
  --card: #ffffff;
  --card-foreground: #333235;
  --popover: #ffffff;
  --popover-foreground: #333235;
  --primary: #544464;
  --primary-foreground: #fbfbfc;
  --secondary: #e8e8ec;
  --secondary-foreground: #403f43;
  --muted: #f2f2f5;
  --muted-foreground: #7f7f85;
  --accent: #dcdce1;
  --accent-foreground: #403f43;
  --destructive: #aa3c3c;
  --destructive-foreground: #fbfbfc;
  --border: #281f1c;
  --delete-icon: #ffffff;
  --delete-icon-muted: #9d6e6562;
  --input: #d3d3d7;
  --ring: #544464;
  --book: #7c5468;
  --chart-0: #5c2a17;
  --chart-1: #000000;
  --chart-2: #5b210a;
  --chart-3: #8b85c4;
  --chart-4: #c4d0a0;
  --chart-5: #c0c1d7;
  --sidebar: #fbfbfc;
  --sidebar-foreground: #333235;
  --sidebar-primary: #544464;
  --sidebar-primary-foreground: #fbfbfc;
  --sidebar-accent: #e8e8ec;
  --sidebar-accent-foreground: #403f43;
  --sidebar-border: #d3d3d7;
  --sidebar-ring: #544464;
}

.dark {
  --background: #110907;
  --back-secondary: #291510;
  --foreground: #f2f2f5;
  --text: #f4ede8;
  --card: #180f0d;
  --avatar: #55331c;
  --card-foreground: #f2f2f5;
  --popover: #323235;
  --popover-foreground: #f2f2f5;
  --primary: #c2bfcc;
  --primary-foreground: #262629;
  --secondary: #403f43;
  --secondary-foreground: #f2f2f5;
  --muted: #38373b;
  --muted-foreground: #a6a6ab;
  --accent: #4d4b53;
  --accent-foreground: #f2f2f5;
  --destructive: #b34848;
  --destructive-foreground: #f2f2f5;
  --delete-icon: #ffffff;
  --delete-icon-muted: #f7e6e362;
  --border: #281f1c;
  --input: #47464b;
  --ring: #b0a5c2;
  --book: #a37082;
  --chart-0: #d8a080;
  --chart-1: #ffffff;
  --chart-2: #d58d63;
  --chart-3: #b3d7a0;
  --chart-4: #9994c2;
  --chart-5: #b5d2a0;
  --sidebar: #2d2d31;
  --sidebar-foreground: #f2f2f5;
  --sidebar-primary: #c2bfcc;
  --sidebar-primary-foreground: #262629;
  --sidebar-accent: #403f43;
  --sidebar-accent-foreground: #f2f2f5;
  --sidebar-border: #403f43;
  --sidebar-ring: #b0a5c2;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  background: var(--desctructive);
  border: 1px solid var(--border);
  border-bottom-width: 1px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.dark .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 0;
  width: 100%;
  z-index: 1000;
  background: var(--desctructive);
  border-color: var(--border);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.clickable-item {
  cursor: pointer;
}

.footer {
  width: 100%;
  z-index: 10;
  background: var(--card);
  border-color: var(--border);
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  display: block;
}

.content-wrapper {
  min-height: 100vh;
  padding-bottom: 5rem; 
}

