[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
gunicorn = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-cors = "*"
bcrypt = "*"
psycopg2-binary = "*"
python-dotenv = "*"
cloudinary = "*"
flask-admin = "*"
requests = "*"
ratelimit = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.14"

[scripts]
start="flask --app src.app run"
deploy="gunicorn -w 4 -b 0.0.0.0:$PORT src.app:app"
reset = "bash ./scripts/reset_migrations.sh"
init="flask --app src/app db init"
migrate="flask --app src/app db migrate"
upgrade="flask --app src/app db upgrade"
